@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1200px) {
  /* Header */

  .masthead-inner {
    width: 100% !important;
  }

  /* Header */
}

@media only screen and (max-width: 991px) {
  /* Header */

  .masthead-inner {
    width: 100% !important;
  }

  /* Header */
}

@media only screen and (max-width: 992px) {
  /* Header */

  .masthead-inner {
    width: 100% !important;
  }
  .header-bottom .country-list li {
    margin-left: 80px !important;
  }
  

  /* Header */
}

@media only screen and (max-width: 767px) {
  /* Header */

  .masthead-inner {
    width: 100% !important;
  }

  /* Header */

  /* E-commerce view starts */

  .ard {
    margin-bottom: 10px !important;
  }
  .choose-c {
    margin-bottom: 15px !important;
  }


  /* E-commerce view ends */
}

@media only screen and (max-width: 575px) {
  .banner_bottom {
    transform: rotate(360deg) !important;
  }

  /* Header */

  .masthead-inner {
    width: 100% !important;
  }

  .header-bottom .country-list li {
    margin: 0 !important;
  }

  /* Header */

  /* HomePage view starts */

  .award_menu {
    font-size: smaller;
  }
  .award_menu img {
    width: 20%;
  }

  /* HomePage view ends */

  /* Career view starts */

  .c-icon-block img {
    padding: 10px;
    height: 80px;
    width: 80px;
    max-height: 80px;
    max-width: 80px;
    margin: 0 !important;
  }
  .c-icon-block p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 !important;
    color: #787878;
  }
  .c-icon-block h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 0 10px !important;
  }

  /* Career view ends */

  /* E-commerce view starts */
  .ard {
    margin-bottom: 10px !important;
  }
  .choose-c {
    margin-bottom: 15px !important;
  }
  .Cosmetic_Sec {
    margin-bottom: 100px !important;
  }

  /* E-commerce view ends */
}

/* landscape view starts*/

@media screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 575px) {
}

@media screen and (orientation: landscape) and (min-device-width: 575px) and (max-device-width: 768px) {
}

@media screen and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1080px) {
}

/* landscape view ends*/
